body{
  font-family: sans-serif;
}
div{
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  display: inline-block;
  height: 50px;
  width: 200px;
}

.yellow{
  background-color: yellow;
}

.pink{
  background-color: #ed2251;
}
